html {
    position: fixed;
    overflow: hidden;
}

h1 {
    position: fixed;
    top: 450px;
}

body {
    background-color: white;
    position: fixed;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

#logo {
    display: block;
    margin-left: -7%;
    position: fixed;
    height: auto;
    width: 74%;
    padding: 0px;
    border: 0px;
}

video:hover {
    cursor: pointer;
}

video {
    margin: auto;
    width: 100%;
    height: auto;
}

.jumbotron {
    background-color: white;
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
}