html {
    width: 100vw;
}

#logo {
    margin: 0 auto;
    text-align:center;
    margin-top:10px;
}

.nav {
    padding: 0px;
    position: fixed;
    z-index: 1;
    top: 125px;
    left: auto;
    background: rgb(255, 255, 255);
    overflow-x: hidden
}

.tab-content {
    margin-top: 0px;
    margin-right: 60px;
    margin-left: 75px;
}

.nav-item{
    font-family: 'Times New Roman', Times, serif;
    padding-right: 0px;
    padding-left: 10px;
    padding-top: 0px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    outline: none;
}

.nav-link {
    color: red;
}

.nav-link:hover {
    color: rgb(0, 255, 21);
}

.nav-link.active {
    color: rgb(0, 161, 255);
}

.jumbotron {
    background-color: white;
    padding: 0px;
}

/* #raimubg {
    background-image: url("/src/images/raimuBg.jpg");
} */
