html {
    width: 100vw;
}

/* .container {
    padding: 0px;
    margin: 0px;
}

.row {
    margin: auto;
} */

#logo {
    position: fixed;
    top: 3px;
    left: 0px;
}

.nav {
    padding: 0px;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 20px;
    background: rgb(255, 255, 255);
    overflow-x: hidden
}

.tab-content {
    margin-top: 55px;
    margin-right: 60px;
    margin-left: 65px;
}

.nav-item{
    font-family: 'Times New Roman', Times, serif;
    padding-right: 0px;
    padding-left: 3px;
    font-size: 12px;
}

.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    outline: none;
}

.nav-link {
    color: red;
}

.nav-link:hover {
    color: rgb(0, 255, 21);
}

.nav-link.active {
    color: rgb(0, 161, 255);
}

.jumbotron {
    background-color: white;
    padding: 0px;
}

/* #raimubg {
    background-image: url("/src/images/raimuBg.jpg");
} */
